.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f5f5f5;
}
mat-card {
    padding: 2rem;
}
.score {
  font-size: 3.5rem;
  font-weight: bold;
  color: #3f51b5; /* Angular Material primary color */
  margin: 1rem 0;
}